body {
    margin: 0;
    background: #F58718;
}

.gift {
    width: 40%;
    margin: auto;
    display: block;
    transition-duration: 0.4s;
}
.gift:hover {
    scale: 1.1;
}

.gradient-button {
    background: linear-gradient(to bottom, #4F18A2, #2C006E); /* Gradient from top to bottom */
    border: none;
    color: #fff; /* White text color for better visibility */
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: auto;
    width: 25%;
    margin-top: 5%;
    font-family: sans-serif;
    transition-duration: 0.4s;
}
.gradient-button:hover {
    scale: 1.1;
}



@media (max-width: 800px) {

    .gift {
        width: 70%;
        margin: auto;
        display: block;
        transition-duration: 0.4s;
    }
    .gift:hover {
        scale: 1.1;
    }
}